{
  "endOfLine": "lf",
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "css"
}
